
<!-- <ul class="pagination pagination-info">
    <li>
        <select class="input-sm"[(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)">
                <option *ngFor="let page of pageSizes" [ngValue]="page">{{page}} </option>
        </select>
    </li>
</ul>  -->

<!-- <ul class="pagination pagination-danger">
    <li class="page-item">
        <a mat-button class="page-link" (click)="navigateStart()">START</a>
    </li>
    <li class="page-item">
        <a mat-button class="page-link" (click)="navigateBack()">PREVIOUS</a>
    </li>
    <li class="page-item d-none d-sm-block" [ngClass]="{'active':  currentPage == i }" *ngFor="let i of pages">
        <a mat-button class="page-link" (click)="navigate(i)">{{i}}</a>
    </li>
    <li class="page-item">
        <a mat-button class="page-link" (click)="navigateForward()">NEXT</a>
    </li>
    <li class="page-item">
        <a mat-button class="page-link" (click)="navigateEnd()">LAST</a>
    </li>
    <li class="page-item">
        {{pagination.page}}/{{maxPage}}
    </li>
</ul> -->


<ul class="pagination pagination-danger">
    <li class="page-item ml-auto">
                {{pagination.page}}/{{maxPage}}
    </li>
    <li class="page-item">
        <a mat-button class="page-link" (click)="navigateStart()">
                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true" ></i></span>
        </a>
    </li>
    <li class="page-item">
        <a mat-button class="page-link" (click)="navigateBack()">
                <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true" ></i></span>
        </a>
    </li>
    <li class="page-item d-none d-sm-block" [ngClass]="{'active':  currentPage == i }" *ngFor="let i of pages">
        <a mat-button class="page-link" (click)="navigate(i)">{{i}}</a>
    </li>
    <li class="page-item">
        <a mat-button class="page-link" (click)="navigateForward()">
                <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true" ></i></span>
        </a>
    </li>
    <li class="page-item">
            <a mat-button class="page-link" (click)="navigateEnd()">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true" ></i></span>
            </a>
    </li>
    <li>
        <select class="input-sm"[(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)">
                <option *ngFor="let page of pageSizes" [ngValue]="page">{{page}} </option>
        </select>
    </li>
</ul>