<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" style="padding-top:3vh">
        <div class="card">

          <div class="card-body">

            <div [hidden]="!isLoading" style="margin-top:2em;margin-bottom:2em;height:4em;text-align:center">
              <div class="lds-ripple">
                <div></div>
                <div></div>
              </div>
            </div>

            <div [hidden]="isLoading" class="table-responsive">
              <table [hidden]="isFormDetails" class="table table-borderless ">

                <thead class="text-primary">
                  <tr class="d-flex">
                    <th class="col-sm-3 d-none d-sm-block">Tip</th>
                    <th class="col-sm-3 col-6">Naziv </th>
                    <th class="col-sm-3 col-6">Početak</th>
                    <th class="col-sm-3 d-none d-sm-block">Duljina</th>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-sm-3 d-none d-sm-block">
                      <input type="text" class="form-control" placeholder="Tip" />
                    </td>
                    <td (keyup.enter)="fetchRaces()" class="col-sm-3">
                      <input type="text" class="form-control" [(ngModel)]="raceFilter.name" placeholder="Naziv utrke" />
                    </td>
                    <td (change)="fetchRaces()" class="col-sm-3">
                      <input type="date" class="form-control"  [(ngModel)]="raceFilter.raceStart" placeholder="Početak" />
                    </td>
                    <td (keyup.enter)="fetchRaces()" class="col-sm-3 d-none d-sm-block">
                      <input type="number" step="0.1" class="form-control" [(ngModel)]="raceFilter.length" placeholder="Duljina" />
                    </td>
                  </tr>
                </thead>

                <tbody>
                  <tr class="d-flex" *ngFor="let race of races" (click)="onSelect(race)">
                    <td class="table-recommended-races-icon col-sm-3 d-none d-sm-block">
                      <div class="ni-running" style="width:3em;height:3em;">
                      </div>
                    </td>
                    <td class="col-sm-3">{{race.name}}</td>
                    <td class="col-sm-3">{{race.raceStart | date: 'dd.MM.yyyy - HH:mm'}}</td>
                    <td class="col-sm-3 d-none d-sm-block">{{race.length}} km</td>
                  </tr>
                </tbody>

                <tfoot class="d-flex flex-row justify-content-center align-items-center">
                  <tr>
                    <td col-smspan="5">
                      <pagination [size]="size" (displayDataEvent)="onDisplayData($event)"></pagination>
                    </td>
                  </tr>
                </tfoot>
              </table>
              
              <app-race-detail (setFormDetailsEvent)="setFormDetails($event)" *ngIf="isFormDetails && isContentLoaded" [race]="race" [codebooks]="dropdowns" [isUserRace]="isUserRace">
              </app-race-detail>
            </div>
          </div>
        </div>
      </div>
    </div>