<div class="row">
  <div class="col">
    <div class="card" style="padding-top:0px;">
      <!-- <div class="card-header">
        <h4 class="align-middle card-title float-left">Prijava na utrku</h4>
      </div> -->

      <div class="card-body" style="padding-left:0px;padding-right:0px;padding-top:0px;">
        <div *ngIf="!isFormLoading" class="col-md-12 input-form modal-form" style="padding:0px;">
          <form method="#" action="#">
            <div class="row" style="padding:0px;margin:0px;">
              <div [ngClass]="hasAdditionalFields ? 'col-md-6' : 'col-md-12'" style="padding-bottom:1em">
                <div class="card" style="padding-bottom:25px">
                  <div class="card-header">
                    <h6 class="align-middle card-title float-left">Osnovni podatci</h6>
                  </div>
                  <div class="card-body" style="padding-top:0px;">


                    <div *ngIf="isProfileLoading" style="padding-top:1em;height:4em;text-align:center">

                      <div class="lds-ripple">
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                    <div *ngIf="!isProfileLoading">
                        <div class="row span-text">
                            <span>Ime</span>
                          </div>
                          <div class="row">
                            <input type="text" [(ngModel)]="registration['FirstName']" disabled name="FirstName" placeholder="">
                          </div>
      
                          <div class="row span-text">
                            <span>Prezime</span>
                          </div>
                          <div class="row">
                            <input type="text" [(ngModel)]="registration['LastName']" disabled name="LastName" placeholder="">
                          </div>
                          <div class="row span-text">
                            <span>Datum rođenja</span>
                            <span *ngIf="registration['YearOfBirthMandatory'] || registration['MonthOfBirthMandatory'] || registration['DayOfBirthMandatory']"
                              style="color:red;font-weight: bold;">*</span>
                          </div>
                          <div class="row">
                            <ni-datedropdown style="width:100%" [selectedDate]="registration['DateOfBirth']" (valueChange)="registration['DateOfBirth'] = $event"
                              (validation)="dateOfBirthValid($event)" [isMandatory]="registration['YearOfBirthMandatory'] || registration['MonthOfBirthMandatory'] || registration['DayOfBirthMandatory']"></ni-datedropdown>
      
                          </div>
      
      
      
                          <div class="row span-text">
                            <span>Email</span>
                            <span *ngIf="registration['EmailMandatory'] || registration['EmailMandatory'] || registration['EmailMandatory']"
                            style="color:red;font-weight: bold;">*</span>
                          </div>
                          <div class="row">
                            <input type="text" name="Email" disabled [(ngModel)]="registration['Email']" [attr.required]="registration['EmailMandatory']" placeholder="">
                          </div>
      
      
      
                          <div class="row span-text">
                            <span>Telefon</span>
                          </div>
                          <div class="row">
                            <input type="text" name="MobilePhone" [(ngModel)]="registration['MobilePhone']" [attr.required]="registration['MobilePhoneMandatory']"
                              placeholder="">
                          </div>
                    </div>
                    

                  </div>
                </div>
              </div>

              <div *ngIf="hasAdditionalFields" class="col-md-6" style="overflow-y: auto;max-height:60vh">
                <div class="card" style="padding-bottom:25px">
                  <div class="card-header">
                    <h6 class="align-middle card-title float-left">Dodatni podatci</h6>
                  </div>
                  <div class="card-body" style="padding-top:0px;">


                    <div *ngIf="isAdditionalFieldsLoading" style="padding-top:1em;height:4em;text-align:center">

                      <div class="lds-ripple">
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                    <div [hidden]="isAdditionalFieldsLoading">

                      <!-- Dodatne komponente -->
                      <div *ngIf="registration['Penalty'] != undefined">
                        <div class="row span-text">
                          <span>Test</span>
                          <span *ngIf="registration['PenaltyMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="Penalty" [(ngModel)]="registration['Penalty']" [attr.required]="registration['PenaltyMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Category'] != undefined">
                        <div class="row span-text">
                          <span>Kategorija</span>
                          <span *ngIf="registration['CategoryMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="Category" [(ngModel)]="registration['Category']" [attr.required]="registration['CategoryMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Address'] != undefined">
                        <div class="row span-text">
                          <span>Adresa</span>
                          <span *ngIf="registration['AddressMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="Address" [(ngModel)]="registration['Address']" [attr.required]="registration['AddressMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['PlaceOfResidence'] != undefined">
                        <div class="row span-text">
                          <span>Mjesto</span>
                          <span *ngIf="registration['PlaceOfResidenceMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="PlaceOfResidence" [(ngModel)]="registration['PlaceOfResidence']" [attr.required]="registration['PlaceOfResidenceMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Country'] != undefined">
                        <div class="row span-text">
                          <span>Država</span>
                          <span *ngIf="registration['CountryMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <div class="datedropdown">
                            <div class="select" style="width:100% !important">
                              <select name="countries" [(ngModel)]="registration['Country']">
                                <option *ngFor="let code of codebooks['countries']" value={{code.id}}>
                                  {{code.name}}
                                </option>
                              </select>

                              <div class="select_arrow">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="registration['IdentityCardNumber'] != undefined">
                        <div class="row span-text">
                          <span>Broj osobnog dokumenta ili OIB</span>
                          <span *ngIf="registration['IdentityCardNumberMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="IdentityCardNumber" [(ngModel)]="registration['IdentityCardNumber']" [attr.required]="registration['IdentityCardNumberMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['IdentityCardIssuer'] != undefined">
                        <div class="row span-text">
                          <span>Izdavadelj osobnog dokumenta</span>
                          <span *ngIf="registration['IdentityCardIssuerMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="IdentityCardIssuer" [(ngModel)]="registration['IdentityCardIssuer']" [attr.required]="registration['IdentityCardIssuerMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['IdentityCardExpires'] != undefined">
                        <div class="row span-text">
                          <span>Datum isteka osobnog dokumenta</span>
                          <span *ngIf="registration['IdentityCardExpiresMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="IdentityCardExpires" [(ngModel)]="registration['IdentityCardExpires']" [attr.required]="registration['IdentityCardExpiresMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['TShirt'] != undefined">
                        <div class="row span-text">
                          <span>Veličina majice</span>
                          <span *ngIf="registration['TShirtMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">


                          <div class="datedropdown">
                            <div class="select" style="width:100% !important">
                              <select name="TShirt" [(ngModel)]="registration['TShirt']">
                                <option *ngFor="let code of codebooks['size']" value={{code.id}}>
                                  {{code.name}}
                                </option>
                              </select>

                              <div class="select_arrow">
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div *ngIf="registration['TShirtFrom'] != undefined">
                        <div class="row span-text">
                          <span>Majica</span>
                          <span *ngIf="registration['TShirtFromMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="TShirtFrom" [(ngModel)]="registration['TShirtFrom']" [attr.required]="registration['TShirtFromMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['TShirtTo'] != undefined">
                        <div class="row span-text">
                          <span>Majica</span>
                          <span *ngIf="registration['TShirtToMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="TShirtTo" [(ngModel)]="registration['TShirtTo']" [attr.required]="registration['TShirtToMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Meal'] != undefined">
                        <div class="row span-text">
                          <span>Obrok</span>
                          <span *ngIf="registration['MealMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <div class="datedropdown">
                            <div class="select" style="width:100% !important">
                              <select name="Meal" [(ngModel)]="registration['Meal']">
                                <option *ngFor="let code of codebooks['meal']" value={{code.id}}>
                                  {{code.name}}
                                </option>
                              </select>

                              <div class="select_arrow">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="registration['MealFrom'] != undefined">
                        <div class="row span-text">
                          <span>Obrok</span>
                          <span *ngIf="registration['MealFromMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="MealFrom" [(ngModel)]="registration['MealFrom']" [attr.required]="registration['MealFromMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['MealTo'] != undefined">
                        <div class="row span-text">
                          <span>Obrok</span>
                          <span *ngIf="registration['MealToMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="MealTo" [(ngModel)]="registration['MealTo']" [attr.required]="registration['MealToMandatory']" placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Transport'] != undefined">
                        <div class="row span-text">
                          <span>Transport</span>
                          <span *ngIf="registration['TransportMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <div class="datedropdown">
                            <div class="select" style="width:100% !important">
                              <select name="Transport" [(ngModel)]="registration['Transport']">
                                <option *ngFor="let code of codebooks['transport']" value={{code.id}}>
                                  {{code.name}}
                                </option>
                              </select>

                              <div class="select_arrow">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="registration['TransportComment'] != undefined">
                        <div class="row span-text">
                          <span>Napomena za transport</span>
                          <span *ngIf="registration['TransportCommentMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="TransportComment" [(ngModel)]="registration['TransportComment']" [attr.required]="registration['TransportCommentMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['BestTime'] != undefined">
                        <div class="row span-text">
                          <span>Najbolje vrijeme</span>
                          <span *ngIf="registration['BestTimeMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="BestTime" [(ngModel)]="registration['BestTime']" [attr.required]="registration['BestTimeMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Club'] != undefined">
                        <div class="row span-text">
                          <span>Klub</span>
                          <span *ngIf="registration['ClubMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="Club" [(ngModel)]="registration['Club']" [attr.required]="registration['ClubMandatory']" placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['EmergencyPhone'] != undefined">
                        <div class="row span-text">
                          <span>Kontakt telefon za hitne slučajeve</span>
                          <span *ngIf="registration['EmergencyPhoneMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="EmergencyPhone" [(ngModel)]="registration['EmergencyPhone']" [attr.required]="registration['EmergencyPhoneMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Comment'] != undefined">
                        <div class="row span-text">
                          <span>Napomena</span>
                          <span *ngIf="registration['CommentMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="Comment" [(ngModel)]="registration['Comment']" [attr.required]="registration['CommentMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Fee'] != undefined">
                        <div class="row span-text">
                          <span>Naknada</span>
                          <span *ngIf="registration['FeeMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="Fee" [(ngModel)]="registration['Fee']" [attr.required]="registration['FeeMandatory']" placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['GroupCode'] != undefined">
                        <div class="row span-text">
                          <span>Kupon</span>
                          <span *ngIf="registration['GroupCodeMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="GroupCode" [(ngModel)]="registration['GroupCode']" [attr.required]="registration['GroupCodeMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['PromoCode'] != undefined">
                        <div class="row span-text">
                          <span>Promo kupon</span>
                          <span *ngIf="registration['PromoCodeMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="PromoCode" [(ngModel)]="registration['PromoCode']" [attr.required]="registration['PromoCodeMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['ChipNumber'] != undefined">
                        <div class="row span-text">
                          <span>Broj čipa</span>
                          <span *ngIf="registration['ChipNumberMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="ChipNumber" [(ngModel)]="registration['ChipNumber']" [attr.required]="registration['ChipNumberMandatory']"
                            placeholder=""> </div>
                      </div>
                      <div *ngIf="registration['Licence'] != undefined">
                        <div class="row span-text">
                          <span>Licenca</span>
                          <span *ngIf="registration['LicenceMandatory']" style="color:red;font-weight: bold;">*</span>
                        </div>
                        <div class="row">
                          <input type="text" name="Licence" [(ngModel)]="registration['Licence']" [attr.required]="registration['LicenceMandatory']"
                            placeholder=""> </div>
                      </div>




                    </div>



                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div *ngIf="isFormLoading" style="height:4em;text-align:center">

          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>

      </div>
      <div *ngIf="!isFormLoading" class="card-footer">
        <button (click)="registerToRace()" [disabled]="isSendingRequest" mat-raised-button type="submit" class="btn btn-success">Prijavi me </button>
        <button (click)="closeForm()" [disabled]="isSendingRequest" mat-raised-button type="submit" class="btn btn-danger">Odustani</button>
      </div>
    </div>
  </div>
</div>