.first-row {
  border: 1px solid red;
  height: 30px;
}

.second-row {
  border: 1px solid red;
  height: 100px;
}

.map-row {
  border: 1px solid red;
  height: 150px;
}

.my-col {
  border: 1px dotted blue;
}

.border-line-bottom {
  border-bottom: 1px solid #eee !important;
}

.border-line-top {
  border-top: 1px solid #eee !important;
}

/* ikone */
.ni-desktop-dialog-close{
  background-image: url("/assets/img/desktop/ic_desktop_dialog_close.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  height: 20px;
  width: 20px;
}

.ni-running-e {
  background-image: url("/assets/img/desktop/img_event_visual_desktop_run@2x.png");
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.ni-race-start-e {
  background-image: url("/assets/img/desktop/ic_event_desktop_color_start@2x.png");
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: contain, cover; */
}

.ni-race-end-e {
  background-image: url("/assets/img/desktop/ic_event_desktop_color_end@2x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain, cover;
}

/* buttons */

.no-shadow {
  /* box-shadow: none !important; */
  margin-bottom: 0px !important;
}

.btn-race > i{
  margin-left: -1em;
  margin-right: 1em;
  font-size: 1.8em;
  margin-top: -1.1em;
}