<div class="row">
  <div class="col">
    <div class="card ">
      <div class="card-header">
        <button class="btn btn-danger float-right" (click)="closeDetails()">
            <i class="material-icons">close</i>
        </button>
        <button *ngIf = "!isUserRace" mat-raised-button class="btn btn-success float-right" (click)="openRegisterToRace()">
            <i class="material-icons">arrow_forward</i> PRIJAVI SE
        </button>
        <!-- ne radi Vertical alignment boostrap?? -->
        <h4 class="align-middle card-title float-left" style="margin-top:15px">Detalji utrke</h4>
      </div>

      <div class="card-body" style="padding:0px !important">
        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-8">
              <app-race-detail-part [race]="race" [organiser]="organiser" [competitors]="competitors" [results]="results"></app-race-detail-part> 
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4" style="border-left: 1px solid #eee">
            <div class="card-header">
              <div class="row" style="padding:0px;">
                <div class="col-sm-12 col-md-12 col-lg-3" style="padding:0px;text-align:center">
                  <img style="max-width:100%" src="{{organiser.imageLogo}}"
                    alt=" " (error)="img.src = './assets/img/desktop/ic_login_logo_floating@2x.png'" #img>
                    
                </div>

                <div class="col-sm-12 col-md-12 col-lg-9">

                  <span style="font-weight: 600; color:#fe2b00;">Organizator:</span>
                  <br>

                  <strong>{{organiser.fullName}}</strong>

                  <br>
                  <br>
                  <div class="col-sm-12 col-md-12" style="padding:0px;">
                    <b>Web: </b>
                    <a href="{{organiser.website}}" style="color:#fe2b00">{{organiser.website}}</a>
                  </div>
                  <div class="col-sm-12 col-md-12" style="padding:0px;">
                    <b>E-mail: </b>
                    <a style="color:#fe2b00">{{organiser.email}}</a>
                  </div>
                  <div class="col-sm-12 col-md-12" style="padding:0px;">
                    <b>Telefon: </b> 
                    <a>{{organiser.phone}}</a>
                  </div>
                  <div class="col-sm-12 col-md-12" style="padding:0px;">
                    <b>Adresa: </b>
                    <a>{{organiser.address}}</a>
                  </div>


                </div>
              </div>
            </div>

            <div class="card-header">
              <div class="row">


                <div class="col-sm-8 col-md-10">

                  <div class="row">
                    <span style="font-weight: 600; color:#fe2b00;">Ukupan broj prijavljenih:</span>
                  </div>
                  <div class="row" style="padding:0px">
                    <div class="col-md-6" style="padding:0px">Sa brojem:
                      <b>{{totalHasNumber}}</b>
                    </div>
                    <div class="col-md-6" style="padding:0px">Registriranih:
                      <b>{{totalPaid}}</b>
                    </div>
                  </div>

                </div>

                <div class="col-sm-4 col-md-2">
                  <div class="table-recommended-races-subscribers ni-subscribers" style="padding-top:0.66em;width:3.33em;height:3.33em;">
                    <span class="table-recommended-races-subscribers-number">{{totalRegistered}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-header">
              <div class="row">

                <div class="col-md-12">
                  <div class="row">
                    <span style="font-weight: 600;">Prijavljeni iz 10 zemalja:</span>
                  </div>
                </div>
                <div class="col-md-12">
                
                  <div class="row" *ngFor="let row of competitorsByCountries">

                    <div class="col-md-1" style="padding:0px">
                      <div class="table-recommended-races-subscribers ni-subscribers" style="padding-left:0.12em; width:2em;height:2em; text-align:center">
                        <span class="table-recommended-races-subscribers-number">10</span>
                      </div>
                    </div>
                    <div class="col-md-10" style="padding:0px">
                      {{row.name}}
                    </div>

                    <div class="col-md-1" style="padding:0px">
                      <div class="table-recommended-races-subscribers ni-subscribers" style=" padding-left:0.12em; width:3em;height:2em; text-align:center">
                        <span class="table-recommended-races-subscribers-number" style="font-size:smaller;">{{row.intValue1}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-header">
              <div class="row">

                <div class="col-md-12">
                  <div class="row">
                    <span style="font-weight: 600; color:#fe2b00;">Plaćanje i korekcija rezultata utrka:</span>
                  </div>


                  <div class="row">
                    <div class="col-md-1" style="padding:0px;background-color:gray; margin:0px;text-align:center">
                      <i class="ni-check" style="height:1.6em;width:1.6em"> </i>
                    </div>
                    <div class="col-md-11">
                      Organizator {{organiser.name}} je odgovoran za točnost podataka utrke, otvaranje i zatvaranje prijava i evidenciju plaćanja za utrku.
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1" style="padding:0px;background-color:gray; margin:0px;text-align:center">
                      <i class="ni-check" style="height:1.6em;width:1.6em"> </i>
                    </div>
                    <div class="col-md-11">
                      Ova web stranica nema pristup bankovnom računu organizatora.
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1" style="padding:0px;background-color:gray; margin:0px;text-align:center">
                      <i class="ni-check" style="height:1.6em;width:1.6em"> </i>
                    </div>
                    <div class="col-md-11">
                      Molimo pitajte organizatora {{organiser.name}} izravno vezano uz plaćanja i druge informacije o utrci
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1" style="padding:0px;background-color:gray; margin:0px;text-align:center">
                      <i class="ni-check" style="height:1.6em;width:1.6em"> </i>
                    </div>
                    <div class="col-md-11">
                      Bilo koja druga pitanja u vezi s rezultatima utrke treba poslati na
                      <b style="color:#fe2b00">timing@stotinka.hr</b>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="card-header">
              <div class="row">

                <div class="col-md-12">
                  <div class="row">
                    <span style="font-weight: 600; color:#fe2b00;">Dodatne informacije</span>
                  </div>
                  <div class="col-md-12">
                    <span style="font-style:italic">Trenutno nema dodatnih informacija</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>