<div class="main-content" style="padding:0px !important;">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-9 hidden-xs login-container-logo" [style.opacity]="backgrounderOpacity" [style.background-image]="backgrounder">
<!-- 
        <img style="height:300px; width:210px" [src]="imgSrc" alt="" /> -->

      </div>
      <div class="col-md-3 login-container" style="height:100%;  min-height: 100vh;">
        <div class="row">
          <div class="col-md-12 login-logo">

          </div>
        </div>
        <div class="row">
          <div id="accordion" class="col-md-12 login-form" style="margin: 0px;" role="tablist">
            <div class="card-collapse" style="padding-bottom: 1em;">
              <div class="card-header login-form-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                    <p>
                      <b>Prijava</b>
                      <span class="btn-label btn-label-right">
                        <i class="material-icons">arrow_right_alt</i>
                      </span>
                      <!-- <i class="material-icons">keyboard_arrow_down</i> -->
                    </p>

                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                  <div class="col-md-12 login-form" style="margin-bottom:6em;">
                    <div class="card-body">
                      <form method="#" action="#" class="">

                        <div class="row span-text">
                          <span>Korisničko ime ili e-mail</span>
                        </div>
                        <div class="row">
                          <input type="email" name="email" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" [(ngModel)]="email"
                            placeholder="">
                        </div>
                        <div class="row span-text">
                          <span>Lozinka</span>
                        </div>
                        <div class="row">
                          <input type="password" name="password" [(ngModel)]="password" placeholder="">
                        </div>
                        <div class="row">
                          <div class="col-md-6" style="padding:0; padding-top:1em">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value=""> Zapamti prijavu
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6 span-text" style="padding:0;padding-top:0.8em">

                            <span>
                              <b (click)="openRecoverModal()" style="text-decoration: underline;cursor:pointer">Zaboravio sam lozinku</b>
                            </span>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6" style="padding:0px;">
                            <button (click)="login()" mat-raised-button class="btn login-button">
                              <b>PRIJAVA </b>
                              <span class="btn-label btn-label-right">
                                <i class="material-icons">arrow_right_alt</i>
                              </span>
                            </button>
                            <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
                            <button class="btn btn-social-icon btn-facebook" (click)="signInWithFacebook()"><span class="fa fa-facebook"></span></button>
                          </div>
                        </div>
                        <div class="row failed-login" [hidden]="result['isError'] != 1">
                          <div class="col-md-3" style="padding:0px;text-align:center">
                            <i class="ni-error-login" style="height:5em;width:2.5em"> </i>
                          </div>
                          <div class="col-md-9 span-text" style="padding-top: 1em;padding-bottom:1em;text-align:center">
                            <span>
                              <b>Netočna lozinka ili korisničko ime.</b>
                              <br>
                              <b>Provjeri podatke i pokušaj ponovno.</b>
                            </span>
                          </div>

                        </div>
                      </form>
                    </div>



                  </div>
                </div>
              </div>
            </div>
            <div class="card-collapse" style="border-top: 1px solid;padding-top: 2em;">
              <div class="card-header login-form-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <p>
                      <b>Registriraj se</b>
                      <span class="btn-label btn-label-right">
                        <i class="material-icons">arrow_right_alt</i>
                      </span>
                    </p>
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">

                  <div class="col-md-12 login-form">
                    <div class="card-body">
                      <form method="#" action="#" class="">

                        <div class="row span-text">
                          <span>Ime</span>
                        </div>
                        <div class="row">
                          <input type="text" [disabled]="isLoading" name="FirstName" [(ngModel)]="newuser.FirstName" placeholder="">
                        </div>
                        <div class="row span-text">
                          <span>Prezime</span>
                        </div>
                        <div class="row">
                          <input type="text" [disabled]="isLoading" name="LastName" [(ngModel)]="newuser.LastName" placeholder="">
                        </div>
                        <div class="row span-text">
                          <span>E-mail adresa</span>
                        </div>
                        <div class="row">
                          <input type="email" [disabled]="isLoading" name="NewEmail" [(ngModel)]="newuser.Email" placeholder="">
                        </div>
                        <div class="row span-text">
                          <span>Lozinka</span>
                        </div>
                        <div class="row">
                          <input type="password" [disabled]="isLoading" name="password" [(ngModel)]="newuser.Password" placeholder="">
                        </div>
                        <div class="row">
                          <div class="col-md-12" style="padding:0; padding-top:1em">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [disabled]="isLoading" value=""> Primaj obavijesti putem e-maila
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </div>

                        </div>
                        <!-- <div class="row">
                                                <div class="col-md-12" style="padding:0; padding-top:1em">
                                                  <div class="form-check">
                                                    <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value=""> Prihvaćam da se moji osobni podaci koriste u skladu s odredbama Pravila privatnosti.
                                                      <span class="form-check-sign">
                                                        <span class="check"></span>
                                                      </span>
                                                    </label>
                                                  </div>
                                                </div>
                              
                                              </div> -->
                        <div class="row">
                          <div class="col-md-6" style="padding:0px;">
                            <button [disabled]="isLoading" (click)="register()" mat-raised-button class="btn login-button">
                              <b>REGISTRIRAJ SE</b>
                              <span class="btn-label btn-label-right">
                                <i *ngIf="!isLoading" class="material-icons">arrow_right_alt</i>
                                <i style="margin-left:1em" *ngIf="isLoading" class='fa fa-spinner fa-spin'></i>
                              </span>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>



                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>



      </div>
    </div>
  </div>
</div>