<div class="row">
  <div class="col">
    <div class="card ">
      <div class="card-header">
        <h4 class="align-middle card-title float-left" style="margin-top:15px">Detalji utrke</h4>
      </div>
      <div class="card-body" style="padding:0px !important">

        <div class="row">
          <div class="col">
            <app-race-detail-part [race]="race" [organiser]="organiser" [competitors]="competitors" [results]="results"></app-race-detail-part> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>