<div class="card-custom">
    <div class="card-body">
        <div class="row">
            <div id="leftdiv" class="col-lg-4 col-md-4" style="height:auto;">

                <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column tab-border-right " role="tablist">
                    <li class="nav-item" (click)="getUserProfile()">
                        <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                            <i class="material-icons">account_circle</i> Moji podatci
                        </a>
                    </li>
                    <li class="nav-item" (click)="getUserMedals()">
                        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                            <i class="material-icons">local_activity</i> Medalje
                        </a>
                    </li>

                    <li class="nav-item" (click)="getUserUpcommingRaces()">
                        <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                            <i class="material-icons">directions_bike</i> Moje nadolazeće utrke
                        </a>
                    </li>
                    <li class="nav-item" (click)="getUserFinishedRaces()">
                        <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                            <i class="material-icons">schedule</i> Moje završene utrke
                        </a>
                    </li>

                    <li class="nav-item" (click)="getUserAwards()">
                        <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                            <i class="material-icons">dashboard</i> Nagrade
                        </a>
                    </li>

                </ul>
            </div>
            <div id="rightdiv" class="col-lg-8 col-md-8" style="padding:0px;">
                <div class="tab-content">
                    <div class="tab-pane active" id="link1">

                        <div id="link-body-1" class="card-body scroll scroll-bar" style="padding:0px;text-align:center">
                            <div class="col-md-8 input-form" style="padding:0px;">
                                <form method="#" action="#">
                                    <div class="row" style="margin:0px">
                                        <div class="col-md-12" style="padding-bottom:1em;text-align:center">

                                            <div *ngIf="isProfileLoading" style="padding-top:1em;height:4em;text-align:center">

                                                <div class="lds-ripple">
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div *ngIf="!isProfileLoading" style="text-align:center">
                                                <div class="row span-text">
                                                    <span>Ime</span>
                                                    <span style="color:red;font-weight: bold;">*</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" [(ngModel)]="profile['firstname']" name="FirstName" placeholder="">
                                                </div>

                                                <div class="row span-text">
                                                    <span>Prezime</span>
                                                    <span style="color:red;font-weight: bold;">*</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" [(ngModel)]="profile['lastname']" name="LastName" placeholder="">
                                                </div>

                                                <div class="row span-text">
                                                    <span>Email</span>
                                                    <span style="color:red;font-weight: bold;">*</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="Email" disabled [(ngModel)]="profile['email']" [attr.required]="profile['EmailMandatory']" placeholder="">
                                                </div>

                                                <div class="row span-text">
                                                    <span>Telefon</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="MobilePhone" [(ngModel)]="profile['phoneNumber']" [attr.required]="profile['MobilePhoneMandatory']"
                                                        placeholder="">
                                                </div>

                                                <div class="row span-text">
                                                    <span>Datum rođenja</span>
                                                </div>
                                                <div class="row">
                                                    <ni-datedropdown style="width:100%" [selectedDate]="profile['birthDay']" (valueChange)="profile['birthDay'] = $event" [isMandatory]="profile['YearOfBirthMandatory'] || profile['MonthOfBirthMandatory'] || profile['DayOfBirthMandatory']"></ni-datedropdown>

                                                </div>

                                                <div class="row span-text">
                                                    <span>Adresa</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="Address" [(ngModel)]="profile['address']" [attr.required]="profile['AddressMandatory']" placeholder=""> </div>

                                                <div class="row span-text">
                                                    <span>Mjesto</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="PlaceOfResidence" [(ngModel)]="profile['city']" [attr.required]="profile['PlaceOfResidenceMandatory']"
                                                        placeholder=""> </div>

                                                <div class="row span-text">
                                                    <span>Država</span>
                                                </div>
                                                <div class="row">
                                                    <div class="datedropdown">
                                                        <div class="select" style="width:100% !important">
                                                            <select name="countries" [(ngModel)]="profile['country']">
                                                                <option *ngFor="let code of codebooks['countries']" value={{code.id}}>
                                                                    {{code.name}}
                                                                </option>
                                                            </select>

                                                            <div class="select_arrow">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row span-text">
                                                    <span></span>
                                                </div>
                                                <div class="row"></div>

                                                <div class="row span-text">
                                                    <span>Visina</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="Height" [(ngModel)]="profile['height']" [attr.required]="profile['HeightMandatory']"
                                                        placeholder=""> 
                                                </div>

                                                <div class="row span-text">
                                                    <span>Težina</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="Weight" [(ngModel)]="profile['weight']" [attr.required]="profile['WeightMandatory']"
                                                        placeholder=""> 
                                                </div>

                                                <div class="row span-text">
                                                    <span>Veličina majice</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="TShirtSize" [(ngModel)]="profile['tshirtSize']" [attr.required]="profile['TShirtSizeMandatory']"
                                                        placeholder=""> 
                                                </div>

                                                <div class="row span-text">
                                                    <span>Veličina obuće</span>
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="FootwearSize" [(ngModel)]="profile['footwearSize']" [attr.required]="profile['FootwearSizeMandatory']"
                                                        placeholder=""> 
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>

                        </div>
                        <div *ngIf="!isProfileLoading" class="card-footer" style="padding:0px;padding-top:0.33em;">
                            <button mat-raised-button [disabled]="isProfileSaving" (click)="saveProfile()" class="btn btn-danger btn-red">
                                <i class="material-icons"></i> Ažuriraj podatke
                            </button>
                        </div>

                    </div>
                    <div class="tab-pane" id="link2">
                        <div class="card-body" style="padding:0px;text-align:center">
                            <div class="col-md-8 input-form" style="padding:0px;">
                                <form method="#" action="#">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom:1em;text-align:center">

                                            <div *ngIf="isMedalsLoading" style="padding-top:1em;height:4em;text-align:center">

                                                <div class="lds-ripple">
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div *ngIf="!isMedalsLoading" style="text-align:center">
                                                TODO MEDALJE


                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="link3">
                        <div class="card-body" style="padding:0px;text-align:center">
                            <div class="col-md-8 input-form" style="padding:0px;">
                                <form method="#" action="#">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom:1em;text-align:center">

                                            <div *ngIf="isUpcommingRacesLoading" style="padding-top:1em;height:4em;text-align:center">

                                                <div class="lds-ripple">
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div *ngIf="!isUpcommingRacesLoading" style="text-align:center">
                                                TODO Moje nadolazece utrke


                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane" id="link4">
                        <div id="link-body-4" class="card-body scroll scroll-bar" style="padding:0px;text-align:center">
                            <div class="col-md-12 input-form" style="padding:0px;">
                                <form method="#" action="#">
                                    <div class="row" style="margin:0px">
                                        <div class="col-md-12" style="padding-bottom:1em;text-align:center">

                                            <div *ngIf="isFinishedRacesLoading" style="padding-top:1em;height:4em;text-align:center">

                                                <div class="lds-ripple">
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="!isFinishedRacesLoading" style="text-align:center">

                                                <div class="col-md-4" *ngFor="let row of finishedRaces" style="padding-top:1em;margin-bottom:1em;">
                                                    <div class="card card-product">
                                                        <div class="card-header card-header-image" data-header-animation="true" style="background-color:white">
                                                            <a>
                                                                <!-- <img class="img" src="./assets/img/card-3.jpg"> -->
                                                                <img style="max-width:100%" src="https://www.stotinka.hr/img/{{row.imageMedium}}" alt=" " (error)="img.src = './assets/img/image_placeholder.jpg'"
                                                                    #img>
                                                            </a>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="card-actions text-center">
                                                                <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View" [matTooltipPosition]="'below'">
                                                                    <i class="material-icons">art_track</i>
                                                                </button>
                                                                <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit" [matTooltipPosition]="'below'">
                                                                    <i class="material-icons">edit</i>
                                                                </button>
                                                                <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove" [matTooltipPosition]="'below'">
                                                                    <i class="material-icons">close</i>
                                                                </button>
                                                            </div>
                                                            <div class="card-description">
                                                                {{row.name}}
                                                            </div>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="stats">
                                                                <p class="card-category">
                                                                    {{row.raceStart}}</p>
                                                            </div>
                                                            <div class="stats">
                                                                <p class="card-category">
                                                                    <i class="material-icons">place</i> London, UK</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane" id="link5">
                        <div class="card-body" style="padding:0px;text-align:center">
                            <div class="col-md-8 input-form" style="padding:0px;">
                                <form method="#" action="#">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom:1em;text-align:center">

                                            <div *ngIf="isAwardsLoading" style="padding-top:1em;height:4em;text-align:center">

                                                <div class="lds-ripple">
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div *ngIf="!isAwardsLoading" style="text-align:center">
                                                TODO Moje nagrade


                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>