<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">Izjava o zaštiti privatnosti na internetskim stranicama Stotinka d.o.o.
              <div class="card-title-icon ni-desktop"></div>
            </h4>
          </div>
          <div class="card-body ">
            <div class="tab-content tab-space">
              <div class="tab-pane active">
                <b>  Opći uvjeti </b>  <br> <br>
                Stotinka d.o.o. za elektronsko mjerenje vremena (u daljnjem tekstu Stotinka) poštuje vašu privatnost i
                temelji svoje internetske stranice na tehnologijama koje pružaju bolje i sigurnije mrežno iskustvo.

                Ova Izjava o zaštiti privatnosti (u daljnjem tekstu Izjava) odnosi se na prikupljanje i obradu vaših
                osobnih podataka te primjenu kolačića (cookies) na internetskim stranicama www.stotinka.hr (u nastavku:
                internetske stranice).

                Korištenjem ovih internetskih stranica suglasni ste s načinom prikupljanja i obrade podataka opisanim u
                ovoj Izjavi te pohranom i pristupom kolačićima na vašem uređaju.

                 <br> <br><b>  Prikupljanje i obrada osobnih podataka</b>  <br> <br>
                Kako bi održala funkcionalnost internetskih stranica i omogućila usluge koje korisnici traže, Stotinka
                na ovom mjestu može prikupljati i upotrebljavati osobne podatke korisnika.

                Putem internetskih stranica www.stotinka.hr moguće je, ovisno o svrsi, prikupljanje vaših osobnih
                podataka kao što su: ime i prezime, adresa e-pošte, kućna ili poslovna adresa, telefonski broj...

                Upisom osobnih podataka u za to predviđena polja dajete privolu da se navedeni podaci upotrebljavaju u
                svrhu za koju su dani.

                Stotinka ne prodaje, ne iznajmljuje i ne posuđuje popis korisnika svojih stranica trećim stranama.

                Uz obvezu zadržavanja povjerljivosti, Stotinka može dijeliti podatke s pouzdanim partnerima za određene
                svrhe: izradu statističke analize, omogućivanje korisničke potpore, organizaciju dostave ili slične
                potrebe.

                Svakoj takvoj trećoj strani zabranjena je daljnja obrada vaših osobnih podataka.

                 <br> <br><b>  Sigurnost vaših osobnih podataka </b>  <br> <br>
                Internetska stranica www.stotinka.hr štiti vaše osobne podatke od neovlaštenog pristupa, upotrebe ili
                odavanja.

                Podaci na računalnim poslužiteljima pohranjuju se u kontroliranom, sigurnom okruženju, zaštićenom od
                neovlaštenog pristupa, upotrebe ili odavanja.

                 <br> <br><b>  Primjena kolačića</b>  <br> <br>
                Na internetskim stranicama www.stotinka.hr primjenjuju se tzv. kolačići (cookies) - tekstualne datoteke
                koje na računalo korisnika smješta internetski poslužitelj kojim se korisnik koristi.

                Datoteke nastaju kada preglednik na uređaju korisnika učita posjećeno mrežno odredište, koje potom
                šalje podatke pregledniku te izrađuje tekstualnu datoteku (kolačić).

                Preglednik dohvaća i šalje datoteku na poslužitelj mrežnog odredišta (mjesta, stranice) prilikom
                povratka korisnika na njega.

                Kolačići se upotrebljavaju za funkcioniranje svih značajki internetskih stranica i bolje korisničko
                iskustvo, a mogu biti privremeni (pohranjuju se samo tijekom posjeta internetskim stranicama) ili
                trajni (na računalu korisnika ostaju pohranjeni i nakon posjeta).

                Kolačićima trećih strana www.stotinka.hr koristi se za dobivanje statističkih podataka o posjećenosti i
                načinu upotrebe naših internetskih stranica.

                Podaci koji se prikupljaju uključuju IP adresu korisnika, podatke o pregledniku, jeziku, operativnom
                sustavu i druge standardne podatke koji se prikupljaju i analiziraju isključivo u anonimnom i masovnom
                obliku.

                Internetske stranice Stotinke ne sadržavaju kolačiće koji omogućuju pokretanje programa ili
                postavljanje virusa na vaše računalo.

                Stranice www.stotinka.hr služe se statistikom Google Analytics te Facebook statistikom, a pravila o
                kolačićima treće strane potražite na Google Analytics i Facebook.

                Podatke o tome kako se korisnici koriste našom internetskom stranicom povremeno možemo prikupljati
                koristeći se i drugim alatima sličnima usluzi Google Analytics.

                 <br> <br><b>  Sprječavanje kolačića </b>  <br> <br>
                Ako niste suglasni s njihovom upotrebom, kolačiće možete lako izbrisati (ili spriječiti) na svojem
                računalu ili mobilnom uređaju s pomoću postavki preglednika kojim se koristite.

                Više informacija o upravljanju kolačićima potražite na stranicama preglednika kojim se koristite ili na
                www.allaboutcookies.org.

                Budući da je svrha kolačića poboljšanje i omogućivanje upotrebe naših internetskih stranica i njihovih
                procesa, imajte na umu da sprječavanjem ili brisanjem kolačića možete onemogućiti funkcioniranje tih
                značajki ili prouzročiti njihov drugačiji rad i izgled u vašem pregledniku.

                 <br> <br><b>  Uvjeti i izmjene </b>  <br> <br>
                Uvjeti ove Izjave uređuju upotrebu kolačića i svih podataka prikupljenih za vrijeme primjenjivanja
                Izjave, osim kolačića trećih strana.

                Stotinka zadržava pravo izmjene ove Izjave i pravila o kolačićima u bilo kojem trenutku kako bi
                prenijela nove važne informacije te kako biste bili informirani o načinima na koje Stotinka na svojim
                internetskim stranicama štiti vaše podatke.

                Preporučujemo da povremeno provjerite ažuriranja na ovoj stranici.

                 <br> <br><b>  Informacije za kontakt </b>  <br> <br>
                Stotinka će rado primiti vaše komentare i sugestije u vezi s ovom Izjavom, kao i ostale primjedbe.

                Možete nam se obratiti na timing@stotinka.hr

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



<!-- <p> HEY </p>
<div *ngFor="let row of sports">
    {{row}}
</div>  -->