<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="container-fluid d-sm-none" style="background-color:white">
                <div class="row mrow justify-content-center">
                    <div class="col-6">Preporučene Utrke</div>
                    <div class="col-6">Moje Aktivnosti</div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="card-title">Dobrodošao
                                    <!-- <small class="description">Horizontal Tabs</small> -->
                                </h4>
                            </div>
                            <div class="card-body ">
                                <!-- <div class="tab-content tab-space"> -->
                                <h5>
                                    <b>{{firstName}}&nbsp;{{lastName}}&nbsp;{{welcomeMessage}}</b>
                                </h5>
                                <div>
                                    <div *ngIf="isWelcomeTextVisible" [innerHTML]="welcomeWidgetText"></div>                                    
                                    <!-- 
                                    Dobrodošao na novi vizualno i strukturno redizajnirani portal tj. dashboard Tracey! Tracey je ujedno i mobilna aplikacija
                                    te web panel poznatog servisa "Stotinka" gdje svakodnevno možes pregledavati i prijavljivati
                                    se na utrke te ostale sportske aktivnosit - što čemo u narednim mjesecima pokušati znatno
                                    obogatiti. Tracey nosi i mnoštvo drugih funkcionalnosti pa kreni u istraživanje, prijavljuj
                                    se i uživaj u sportskim izazovima svakodnevno i brini se o svom zdravlju.
                                    -->
                                </div>                             
                                <button mat-raised-button class="btn btn-sm mt-3">
                                    <span class="btn-label">
                                        <span class="ni-home"></span>
                                    </span>
                                    Nadopuni korisnički profil
                                </button>

                                <!-- <div>
                                    <button class="btn btn-sm ico-btn">Nadopuni korisnički profil</button>
                                    </div> -->

                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Moje aktivnosti
                                    <div class="card-title-icon ni-desktop"></div>
                                </h4>
                            </div>
                            <div class="card-header ">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:center">
                                        <div>
                                            <b>Trčanje</b> (km)
                                        </div>
                                        <div class="row">
                                            <table style="width:100%">
                                                <tr>
                                                    <td>
                                                        <div style="width:100%;padding-right:15%">

                                                            <div class="ni-stats-run" style="width:4em;height:3.8em;float:right">

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width:50%">
                                                        <p style="text-align:left;font-weight:500;padding-top: 0.5em;font-size: 2em;">123</p>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:center">
                                        <div>
                                            <b>Bicikliranje</b> (km)
                                        </div>
                                        <div class="row">
                                            <table style="width:100%">
                                                <tr>
                                                    <td>
                                                        <div style="width:100%;padding-right:15%">

                                                            <div class="ni-stats-cycle" style="width:4em;height:4em;float:right">

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width:50%">
                                                        <p style="text-align:left;font-weight:500;padding-top: 0.5em;font-size: 2em;">221</p>

                                                    </td>
                                                </tr>
                                            </table>



                                        </div>

                                    </div>


                                    <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:center">
                                        <div>
                                            <b>Plivanje</b> (km)
                                        </div>
                                        <div class="row">
                                            <table style="width:100%">
                                                <tr>
                                                    <td>
                                                        <div style="width:100%;padding-right:15%">

                                                            <div class="ni-stats-swim" style="width:4em;height:4em;float:right">

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width:50%">
                                                        <p style="text-align:left;font-weight:500;padding-top: 0.5em;font-size: 2em;">12.3</p>

                                                    </td>
                                                </tr>
                                            </table>



                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom:1px solid lightgray;margin-bottom:0.5em;padding-bottom:0.5em;">
                                        <span>
                                            <i class="ni-checkbox" style="position: absolute;"> </i>
                                        </span>

                                        <span style="margin-left:2em">
                                            <b>Nadolazeće prijavljene utrke</b>
                                        </span>

                                        <span style="float:right;margin-right:1em; font-size:1.2em">
                                            <b>3</b>
                                        </span>
                                        <span style="float:right">
                                            <i class="ni-arrow-r" style="margin-left:1em;float:right; height:1.2em;width:1.2em;position: absolute"> </i>
                                        </span>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12" style="padding-top:0.5em; padding-bottom:0.5em">
                                            <span>
                                                <b>Ukupno aktivnosti</b>
                                            </span>

                                            <span style="float:right; font-size:1.2em">
                                                <b>42</b>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12" style="padding-top:0.5em; padding-bottom:0.5em">


                                            <span>
                                                <b>Utrošeno vremena</b>
                                            </span>

                                            <span style="float:right;  font-size:1.2em">
                                                <b>11d05h</b>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12" style="border-top:1px solid lightgray;padding-top:0.5em; padding-bottom:0.5em">
                                            <span>
                                                <b>Ukupno kilometara</b>
                                            </span>

                                            <span style="float:right; font-size:1.2em">
                                                <b>1533</b>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12" style="border-top:1px solid lightgray;padding-top:0.5em; padding-bottom:0.5em">
                                            <span>
                                                <b>Potrošeno kalorija</b>
                                            </span>

                                            <span style="float:right;  font-size:1.2em">
                                                <b>21.255</b>
                                            </span>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12" style="border-top:1px solid lightgray;padding-top:0.5em; padding-bottom:0.5em">
                                            <span>
                                                <b>Završenih utrka</b>
                                            </span>

                                            <span style="float:right; font-size:1.2em">
                                                <b>22</b>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12" style="border-top:1px solid lightgray;padding-top:0.5em; padding-bottom:0.5em">

                                            <span>
                                                <b>Osvojenih trofeja</b>
                                            </span>

                                            <span style="float:right;  font-size:1.2em">
                                                <b>5</b>
                                            </span>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-none d-sm-block">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Najnovije obavijesti
                                </h4>
                                <button *ngIf="isNewsAdmin && isNewsAdminView" mat-raised-button class="btn btn-sm mt-3" (click)="toggleNewsAdminView()">
                                    Set User View
                                </button>                                     
                                <button *ngIf="isNewsAdmin && !isNewsAdminView" mat-raised-button class="btn btn-sm mt-3" (click)="toggleNewsAdminView()">
                                    Set Admin View
                                </button>                                     
                            </div>
                            <div *ngIf="isNewsAdmin && isNewsAdminView" class="card-header">
                                <table style="width:100%">
                                <tr>
                                    <td>
                                        <textarea #textboxins rows="3" cols="25"></textarea>
                                    </td>
                                    <td>
                                        <button mat-raised-button class="btn btn-sm mt-3" (click)="addNews(textboxins.value);textboxins.value=''">
                                            Insert
                                        </button>                                        
                                    </td>                                
                                </tr>
                                </table>                            
                            </div>                            
                            <div class="card-body ">
                                <div>
                                    <div class="" style="margin-bottom:1em; padding-right:1em">
                                        <table style="width:100%">
                                            <tr *ngFor="let news of latestNews">
                                                <td class="table-recommended-races-icon">
                                                    <div class="ni-running" style="width:2em;height:2em;">

                                                    </div>
                                                </td>
                                                <td>
                                                    <table style="width:100%">
                                                        <tr>
                                                            <div *ngIf="!showNewsEditBox(news.id)" class="row" style="margin:0px">
                                                                <span>  
                                                                    <div [innerHTML]="news.text_html"></div>                                                                                                                                                                                                              
                                                                </span>
                                                            </div>
                                                            <div *ngIf="showNewsEditBox(news.id)" class="row" style="margin:0px">
                                                                <span> 
                                                                    <div>                                                                   
                                                                    <textarea #textbox rows="3" cols="25">{{news.text_html}}</textarea>
                                                                    </div>                                                                    
                                                                    <div>
                                                                    <span>
                                                                    <button mat-raised-button class="btn btn-sm mt-3" (click)="updateNews(news.id, textbox.value);">
                                                                        Save
                                                                    </button>
                                                                    <button mat-raised-button class="btn btn-sm mt-3" (click)="cancelEditNews(news.id, textbox.value);">
                                                                        Cancel
                                                                    </button>
                                                                    </span>
                                                                    </div>                                                                                                                                                    
                                                                </span>        
                                                            </div>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <button *ngIf="isNewsAdmin && isNewsAdminView && !isNewsEditing" mat-raised-button class="btn btn-sm mt-3" (click)="editNews(news.id);">
                                                        Edit
                                                    </button>                                                                                                                                                    
                                                </td>                               
                                                <td>
                                                    <button *ngIf="isNewsAdmin && isNewsAdminView && !isNewsEditing" mat-raised-button class="btn btn-sm mt-3" (click)="deleteNews(news.id, news.text_html);">
                                                        Del
                                                    </button>                                        
                                                </td>                                                                                
                                            </tr>
                                            <tr>
                                                <td>

                                                </td>
                                                <td colspan="99" style="border-bottom:1px solid lightgray;">

                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                    <!--
                                    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed
                                    base benefits. Collaboratively administrate empowered markets via plug-and-play networks.
                                    Dynamically procrastinate B2C users after installed base benefits.
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Izdvojeni događaji
                                </h4>
                            </div>
                            <div class="card-body ">
                                <div>
                                    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed
                                    base benefits. Collaboratively administrate empowered markets via plug-and-play networks.
                                    Dynamically procrastinate B2C users after installed base benefits.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Preporučene utrke
                                    <div class="card-title-icon ni-desktop"></div>
                                </h4>
                            </div>
                            <div class="card-header " style="padding: 0px;margin:0px;">
                                <div class="row" style="padding: 0px;margin:0px;">

                                    <div class="col-lg-3 col-md-3 col-sm-3 card-header-select" style="padding: 0px;margin:0px;">
                                        <mat-form-field>
                                            <mat-select placeholder="" [(ngModel)]="filterMonth" name="a2" (selectionChange)="fetchRaces($event.value)">
                                                <mat-option *ngFor="let row of months" [value]="row.value">
                                                    {{row.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="1>2" class="col-lg-3 col-md-3 col-sm-3 card-header-select" style="padding: 0px;margin:0px;">
                                        <mat-form-field>
                                            <mat-select placeholder="" [(value)]="filterSport" name="a1">
                                                <mat-option *ngFor="let row of sports" [value]="row.value">
                                                    {{row.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                    <div *ngIf="1>2" class="col-lg-3 col-md-3 col-sm-3 card-header-select" style="padding: 0px;margin:0px;">
                                        <mat-form-field>
                                            <mat-select placeholder="" [(ngModel)]="filterApplication" name="a3">
                                                <mat-option *ngFor="let row of applications" [value]="row.value">
                                                    {{row.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>



                                </div>

                            </div>
                            <div class="card-body ">
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active" id="link1">
                                        <div class="" style="margin-bottom:1em; padding-right:1em">
                                            <table style="width:100%">
                                                <tr *ngFor="let race of recommendedRaces" (click)="loadOrganiser(race)">
                                                    <td class="table-recommended-races-icon">
                                                        <div class="ni-running" style="width:5em;height:5em;">

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <table style="width:100%">
                                                            <tr>
                                                                <div class="row" style="margin:0px">
                                                                    <span>
                                                                        <b>{{race.name}}</b>
                                                                    </span> - Lokacija
                                                                </div>
                                                            </tr>
                                                            <tr>
                                                                <div class="row" style="margin:0px">
                                                                    <i style="height: 1.1em; width: 1.1em; padding-top:1.8em; margin-right:2em" class="ni-race-start">
                                                                    </i>
                                                                    <span>{{race.raceStart | date: 'dd-MM-yyyy'}}</span>
                                                                </div>
                                                            </tr>
                                                            <tr>
                                                                <div class="row" style="margin:0px">
                                                                    <i style="height: 1.1em; width: 1.4em; padding-top:1.8em; margin-right:1.6em" class="ni-race-end">
                                                                    </i>
                                                                    <span>{{race.raceEnd | date: 'dd-MM-yyyy'}}</span>
                                                                </div>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="table-recommended-races-subscribers">
                                                        <div class="table-recommended-races-subscribers ni-subscribers" style="width:3em;height:3em;">
                                                            <span class="table-recommended-races-subscribers-number"> </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                    </td>
                                                    <td colspan="99" style="border-bottom:1px solid lightgray;">

                                                    </td>
                                                </tr>

                                            </table>

                                        </div>

                                        <!-- <pre>{{recommendedRaces | json}}</pre> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <p> HEY </p>
<div *ngFor="let row of sports">
    {{row}}
</div>  -->