<div class="row">
  <div class="col">
    <div class="card theme-background-color">
      <div class="card-header">
        <h4 class="align-middle card-title float-left" style="color:white">Oporavak zaboravljene lozinke</h4>
      </div>
      <div class="col-md-12 login-form">
        <div class="card-body">

          <form method="#" action="#">
            <div class="row span-text">
              <span>E-mail adresa</span>
            </div>
            <div class="row">
              <input type="email" [(ngModel)]="recoverEmail" name="NewEmail" placeholder="">
            </div>

          </form>
        </div>
        <button (click)="recoverAccount()" mat-raised-button type="submit"  class="btn btn-fill theme-button-color">Pošalji link za oporavak</button>
        
      </div>
      <div class="card-footer" style="text-align:center">
          </div>
    </div>
  </div>
</div>