html{
    scroll-behavior: smooth;
  }


/* ICONS */

.ni-desktop{
    
    background-image: url("./assets/img/desktop/ic_btn_desktop_filter_box.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.ni-home {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_N_home.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-home {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_A_home.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}


.ni-stopwatch {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_N_events.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-stopwatch {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_A_events.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}


.ni-shoe {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_N_sports.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-shoe {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_A_sports.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}



.ni-watch {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_N_activities.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-watch {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_A_activities.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.ni-profile {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_N_profile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-profile {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_A_profile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.ni-payment {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_N_payments.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-payment {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_A_payments.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}
.ni-help {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_N_help.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-help {
    background-image: url("./assets/img/desktop/ic_sidebar_desktop_A_help.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 30px;
    width: 30px;
}

/* BASES */

.ni-running {
    background-image: url("./assets/img/desktop/img_event_visual_desktop_run@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
  
}
.ni-race-start {
    background-image: url("./assets/img/desktop/ic_event_desktop_color_start@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
  
}


.ni-race-end {
    background-image: url("./assets/img/desktop/ic_event_desktop_color_end@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
  
}

.ni-subscribers {
    background-image: url("./assets/img/desktop/img_event_desktop_subscribers_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
  
}

.ni-stats-run {
    background-image: url("./assets/img/desktop/img_stats_desktop_run@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
  
}

.ni-stats-cycle {
    background-image: url("./assets/img/desktop/img_stats_desktop_cycle@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
  
}

.ni-stats-swim {
    background-image: url("./assets/img/desktop/img_stats_desktop_swim@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
  
}


.ni-checkbox {
    background-image: url("./assets/img/desktop/ic_desktop_subscribed.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    display: inline-block;
    height: 1.5em;
    width:1.5em;
}

.ni-arrow-l {
    background-image: url("./assets/img/desktop/ic_desktop_arrow_big_L@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    display: inline-block;
}
.ni-arrow-r {
    background-image: url("./assets/img/desktop/ic_desktop_arrow_big_R@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    display: inline-block;
}

.ni-error-login {
    background-image: url("./assets/img/desktop/ic_login_wrong_login_info@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    display: inline-block;
}



.ni-check {
    background-image: url("./assets/img/desktop/ic_login_checkmark_white@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    display: inline-block;
}







/* END ICONS */

/* Spinner */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fe2b00;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  
  

/* END SPINNER*/


/* Početna */

.my-row {
    border: 3px solid red;
    height: 300px;
}

.my-col {
    border: 3px dotted blue;
}

body{
    background-image: url("./assets/img/desktop/img_desktop_background_artwork.png");
    background-repeat: no-repeat;
}

p {
    font-weight: normal;
}

button {
    font-weight: normal;
}

.main-panel .main-content{
    margin-top:2em !important;
}

.ni-navbar{
    z-index:20; 
    position: fixed;
    width: 100%;
    background-image: url("./assets/img/desktop/Img_navbar_desktop_logo.png");
    background-repeat: no-repeat;
    background-size: 9em;
    background-position: left;
    background-color: #fe2b00 !important;
    box-shadow: none ;
    border-radius: 0px;
    height: 4em;
    padding: 0px;
} 
.ni-navbar-mobile{
    z-index:20; 
    background-color: #fe2b00 !important;
    box-shadow: none ;
    border-radius: 0px ;
}

.ni-navbar-background{
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/desktop/img_navbar_desktop_artwork_background@2x.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: 100%;
} 

nav .navbar-nav li a{
    color: white !important;
    text-transform: capitalize !important;
    }

.ver-line {
    border-left: 1px solid white !important;
    /* height: 500px; */
  }

.sidebar{
    background-color: white !important;
   
}

.sidebar-wrapper{
    padding-top: 4em;
}
.sidebar .nav .nav-item .nav-link{
    color:#7f8993 !important;
}

.nav-link {
    text-transform: none !important;
}

.sidebar .nav .nav-item i{
    color:#7f8993 !important;

}

.sidebar .nav .nav-item p{
    color:#7f8993 !important;
}

.sidebar .nav .nav-item a{
    color:#7f8993 !important;
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) {
    color: #fe2b00 !important;
}

.btn-red{
    background-color:  #fe2b00 !important;
    color: white;
}

.sidebar .nav .nav-item.active {
    border-left: 3px solid #fe2b00;
    
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) {
    box-shadow: none !important;
    border-radius: 0px;
    margin-left:12px;
    
}

.sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > p{
    color: #fe2b00 !important;
}



.ni-nav-bottom{
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5em;
    margin-left: 1em;
}

.ni-navbar-info{
    margin-left: 10%;
    font-size: 0.8em; 
    color:#7f8993 !important
}

  
.btn-red > i{
    margin-left: -1em;
    margin-right: 1em;
    font-size: 1.8em;
    margin-top: -1.1em;
}

.nav-item-btn {
    width: 80%;
    margin-left: 10%;
}
.table-recommended-races-icon{
    width:15%;
    padding-right: 1em;
}
.table-recommended-races-subscribers{
    width:8.333%;
    text-align: center;
}

.table-recommended-races-subscribers .ni-subscribers{
    padding-top:0.5em;
}
.table-recommended-races-subscribers-number{
    color: white;
    padding-right:0.533em;
    font-weight: 500;
}
.card-header-select{
    border-right: 1px solid lightgray;
    border-radius: 0 !important;
}

.card-header-select .mat-form-field-appearance-legacy .mat-form-field-underline{
    height: 0px;
}
.card-header-select .mat-form-field-appearance-legacy .mat-form-field-underline .mat-form-field-ripple{
    height: 0px;
}
.card-header-select .mat-form-field-wrapper{
    padding: 0px;
}
.card-header-select .mat-form-field-wrapper .mat-form-field-infix{
    padding: 1em;
    border:0;
}

.ni-pc-hidden{
    display: none !important;
}

@media (max-width: 991px){


    /* ICONS */

    .ni-desktop{
        
        background-image: url("./assets/img/desktop/ic_btn_desktop_filter_box.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .ni-home {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_home.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-home {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_home.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }


    .ni-stopwatch {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_events.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-stopwatch {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_events.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }


    .ni-shoe {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_sports.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-shoe {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_sports.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }



    .ni-watch {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_activities.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-watch {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_activities.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .ni-profile {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_profile.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-profile {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_profile.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .ni-payment {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_payments.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-payment {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_payments.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }
    .ni-help {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_help.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > i.ni-help {
        background-image: url("./assets/img/desktop/ic_sidebar_desktop_W_help.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain, cover;
        height: 30px;
        width: 30px;
    }

    /* END ICONS */



    .table-recommended-races-icon{
        width:20.333%;
    }
    


    .ni-navbar-background{
        display: none;
    }
    .navbar-toggler .icon-bar {
        color: white !important;
        background: rgb(202, 144, 144) !important;
    }
    .ni-mobile-hidden{
        display: none !important;
    }

    
    .ni-pc-hidden{
        display: inline !important;
    }
    .ni-navbar-mobile{
        height: 3.4444em;
        background-image: url("./assets/img/desktop/Img_navbar_desktop_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 7em;
        background-position: left;
        box-shadow: none;
        border-radius: 0px;
    }

    
    .sidebar::before{
        background: #fe2b00;
        color:white;
        background-image: url(/assets/img/desktop/img_login_bg_red_pattern@2x.png);
        background-repeat: no-repeat;
        background-size: cover;

    }
 
    
    .btn-red{
        color:  #fe2b00 !important; 
        background-color: white !important;
    }

    .sidebar .nav .nav-item a{
        color:#7f8993 !important;
    }
    
    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) {
        color: white !important;
    }

        
    .sidebar .nav .nav-item .nav-link{
        color:#fff !important;
    }


    .sidebar .nav .nav-item i{
        color:#fff !important;

    }

    .sidebar .nav .nav-item p{
        color:#fff !important;
    }

    .sidebar .nav .nav-item a{
        color:white !important;
    }
    


    .sidebar .nav .nav-item.active {
        border-left: 3px solid white;
    }
    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]) > p{
        color: white !important;
        
        background-color: transparent;
    }

    .sidebar .nav .nav-item.active > a:not([data-toggle="collapse"]){
        color: white !important;
        background-color: transparent;
    }


    

}


@media (min-width: 991px) {
    .navbar-maximize{
        display: none;
    }
    .ni-navbar-mobile{
        display: none;
    }
}

.sidebar .nav .nav-item .nav-link {
    padding: 0px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}


/* CARDS */

@media(max-width:576px) {
    /* .card {
        margin-top: 0 !important
    } */
    .col, .main-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .main-content {
        padding-top: 23px !important
    }
    .mrow {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.card {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    z-index:1 !important;
}

.card .card-header{
    border-bottom: 1px solid #eee !important;
}

.card .card-header h4{
   color: #fe2b00 ;
   font-weight: bold;
}

.card-title-icon{
    float:right;
    height: 1em;
    width: 1em;
}


/* navbar test */
/* body {
    padding-top: 105px;
}

.fixed-top-2 {
    margin-top: 56px;
} */

.ico-btn {
    color: grey;
    padding: 12px 16px 12px 40px;
    background:url("/assets/img/desktop/ic_btn_desktop_profile.png") no-repeat 20px 20px 20px 9px;
    background-size: 25px auto;
 }


 .login-container{
    background: #fe2b00;
 }

 .login-container-logo{
    background-image: url("./assets/img/desktop/Tracey_login_bg_image_1A.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    transition: background 1.33s;
 }
.login-logo{ 
    margin-top:4em;
    height: 3em;
    margin-bottom:1em;
    text-align: center;
    background-image: url("./assets/img/desktop/Img_navbar_desktop_logo@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.login-container{
    background-image: url("./assets/img/desktop/img_login_bg_red_pattern@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0px top 20vh;
}
.login-form{
    color:white;
    padding-left:2em;
    padding-right:2em;
}




.input-form{
    color:black;
    padding-left:2em;
    padding-right:2em;
}


.input-form input{
    width: 100%;
    border: 1px solid;
    border-color:gray;
    border-radius: 3px;
    padding:0.3em
    
}

.input-form .span-text span{
    
    padding-top:1em;
    font-size: 0.8em;
    padding-bottom:0.25em;
}
.input-form  .form-check-label{
    font-size: 0.9em;
    font-weight: none;
    padding-bottom:1em;
    color:white;
}

.input-form .form-check, label{
    position:relative;
}

.modal-form{
    overflow-y: auto;
    max-width: 80vw;
    max-height: 65vh;
}




.login-form input{
    width: 100%;
    border: 1px;
    border-color:none;
    border-radius: 3px;
    padding:0.3em
}

.login-form .span-text span{
    
    padding-top:1em;
    font-size: 0.8em;
    padding-bottom:0.25em;
}
.login-form  .form-check-label{
    font-size: 0.9em;
    font-weight: none;
    padding-bottom:1em;
    color:white;
}

.login-form .form-check, label{
    position:relative;
}

.login-form-header{
    border:0px !important;
    padding: 0px !important;
    margin: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
    color: white !important;
    font-size:1.3em !important;
}
.login-form-header a{
    color: white !important;
}

.card-collapse .card-header a[aria-expanded="true"] i {
    display: none !important;
}
.login-form p{
    
    font-size: 1.2em;
    margin-bottom:0.333em;
}

.theme-background-color{
    background-color: #fe2b00 !important;
}
.theme-button-color{
    background-color: #c61e00 !important;
    box-shadow: none !important;
}
.login-button{
    background-color: #c61e00 !important;
    color:white !important;
    padding-top:0.6em !important;
    padding-bottom:0.6em !important;
    padding-left:1em !important;
    padding-right:1em !important;
    box-shadow: none !important;
}

.login-button .material-icons {
    margin-top: -1.155em !important;
    margin-left: 1em;
}

.login-bottom{
    position: absolute;
    bottom: 0;    
    padding-right: 0px;
    padding-left: 2.3em;
    padding-bottom: 2em;
    color:white;
}


.login-bottom .login-bottom-content{
    padding:0px;
    padding-top: 2em;
    border-top: 1px solid white;

}
.login-bottom .login-bottom-content span{
    font-size: 1.2em;
    font-weight: bold;

} 


.login-bottom .login-bottom-content i{
    position: absolute;
    float: right;
    right: 0;
    margin-right: 1.5em;
}




.login-top{
    position: relative;
    padding-right: 0px;
    padding-left: 2.3em;
    color:white;
}


.login-top .login-top-content{
    padding:0px;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid white;

}
.login-top .login-top-content span{
    font-size: 1.2em;
    font-weight: bold;

} 


.login-top .login-top-content i{
    position: absolute;
    float: right;
    right: 0;
    margin-right: 1.5em;
}


.failed-login{
    background: #931a00;
    border-radius: 3px;
    margin-top:1.5em;
}


.hide-row{
    display: none;
}


.show-row{
    display: block;
}


@media (max-width: 768px){
    .hidden-xs{
        display: none;
    }

    .custom-modalbox  {
        min-width: 100% !important;
        min-height: 100% !important;
    }

    .modal-form{
        overflow-y: auto;
        max-width: 100vw;
        max-height: 80vh;
    }
    .tab-border-right{
        border-right:0px solid lightgray !important;
        border-radius: 0px !important;
    }

}




.datedropdown{
    display: inline-block;
    width: 100%;
}

.datedropdown .select {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
}    

.datedropdown .select select {
        font-family: 'Arial';
        display: inline-block;
        cursor: pointer;
        width: 100%;
        border: 1px solid;
        border-color:gray;
        border-radius: 3px;
        padding:0.3em;

        outline: 0;
        background: #ffffff;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

.datedropdown .select select::-ms-expand {
    display: none;
}

.datedropdown .select select:disabled {
    opacity: 0;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.datedropdown .select select:hover ~ .select_arrow,
.datedropdown .select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.datedropdown .select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}



/* SCROLL BAR HIDEN SCROLL */

.scroll-bar{ 
  
    overflow-y: auto;
    overflow-x: hidden;
}





.scroll-bar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.scroll-bar-accordin::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll-bar-accordin::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.scroll-bar-accordin::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.scroll-bar-accordin::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



/* END SCROLL BAR */




/** MODAL */

.tab-border-right{
    border-right:1px solid lightgray;
    border-radius: 0px;
}
.mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.no-scroll .mat-dialog-container{
    overflow-y: hidden !important;
}

.card-custom {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
  }


  .card-header-image img{
  
    height:10em;
    width:100%;
  }
  
/* 
.yea {
    transform: scale(0.9);
} */

.thick {
    font-weight: bold;
  }
  
div.thicker {
font-weight: 900;
}

.card-header.card-header-danger {
    border-bottom: none !important;
}

.alert-error{
    background-color:#ff8282;
    color:white;
}
