
  <table class="table" style="width:100%">
    <tr>
      <td class="col table-recommended-races-icon" style="vertical-align: top !important; padding-left:20px !important">
        <div class="ni-running-e" style="width: 90px;height: 100px;">
        </div>
      </td>
      <td style = "padding-top: 0px">
        <table style="width:100%">
          <tr>
            <div class="row" style="margin:0px">
              <span>
                <h4>{{race.name}} - MISSING</h4>
              </span>
            </div>
          </tr>
          <tr>
              <div class="row thick" style="margin:0px">
                <i style="height: 1.1em; width: 1.1em; padding-top:1.8em; margin-right:1.3em"
                  class="ni-race-start"></i>
                <div *ngIf="currentWindowWidth >= 600">
                  <span style="color:red">Utrka započinje:</span>
                  <span style="margin-left:1em">{{race.raceStart | date: 'dd.MM.yyyy'}}</span>
                  <span style="margin-left:1em; color:red">{{race.raceStart | date: 'HH:mm'}}</span>
                </div>
                <ul style="list-style-type:none; padding:0px" *ngIf="currentWindowWidth < 600">
                  <li style="color:red">Utrka započinje:</li>
                  <li>{{race.raceStart | date: 'dd.MM.yyyy'}}</li>
                  <li style="color:red">{{race.raceStart | date: 'HH:mm'}}</li>
                </ul>
              </div>
            </tr>
            <tr>
              <div class="row thick" style="margin:0px">
                <i style="height: 1.1em; width: 1.4em; padding-top:1.8em; margin-right:1em"
                  class="ni-race-end">
                </i>
                <div *ngIf="currentWindowWidth >= 600">
                  <span style="color:red">Utrka završava:</span>
                  <span style="margin-left:1em">{{race.raceEnd | date: 'dd.MM.yyyy'}}</span>
                  <span style="margin-left:1em; color:red">{{race.raceEnd | date: 'HH:mm'}}</span>
                </div>
                <ul style="list-style-type:none; padding:0px" *ngIf="currentWindowWidth < 600">
                  <li style="color:red">Utrka završava:</li>
                  <li>{{race.raceEnd | date: 'dd.MM.yyyy'}}</li>
                  <li style="color:red">{{race.raceEnd | date: 'HH:mm'}}</li>
                </ul>
              </div>
            </tr>
        </table>
      </td>
      <td *ngIf="isModal" class="table-recommended-races-subscribers" style="vertical-align: top !important;">
        <div class="table-recommended-races-subscribers ni-subscribers" style="width:3em;height:3em;">
          <span class="table-recommended-races-subscribers-number">55</span>
        </div>
      </td>
    </tr>

  </table>

  <div class="row" style="margin:0px">
    <div class="col">
      <div class="map"></div>
    </div>
  </div>

  <div class="" style="margin:0px; margin-top:1em">
    <div class="col">
      <ul class="nav nav-pills nav-pills-warning row border-line-bottom" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">Detaljne informacije</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">Prijavljeni natjecatelji</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">Rezultati</a>
        </li>
      </ul>
      <div class="tab-content tab-space">
        <div class="tab-pane active" id="link2">
          <span><b>ORGANIZATOR:</b> {{organiser.fullName}} </span> <br>
          <span><b>SUORGANIZATOR:</b> MISSING </span> <br>
          <span><b>POKROVITELJ:</b> MISSING </span> <br><br>

          <div class="row" style="margin:0px">
            <i style="height: 1.1em; width: 1.1em; padding-top:1.8em; margin-right:1.3em" class="ni-race-start"></i>
            <b>START:</b> MISSING
          </div><br>
          <div class="row" style="margin:0px">
            <i style="height: 1.1em; width: 1.4em; padding-top:1.8em; margin-right:1em" class="ni-race-end"></i>
            <b>CILJ:</b> MISSING
          </div> <br>
          
          <span><b>STARTNINA:</b> MISSING </span><br>
          <span><b>PRIJAVE:</b> MISSING </span><br><br>

          <span><b>MOGUĆNOST SMJEŠTAJA:</b> MISSING </span><br>
          <div *ngIf="!isModal">
            <span><b>KONTAKT OSOBE:</b> MISSING </span><br><br>
            <span><b>NAGRADE:</b> MISSING </span><br><br>
          </div>

        </div>
        <div class="tab-pane" id="link3">
          <li *ngFor="let competitor of competitors">
            {{ competitor.firstName }} {{ competitor.lastName }}
          </li>
        </div>
        <div class="tab-pane" id="link4">
          <li *ngFor="let result of results">
            {{ result.firstName }} {{ result.lastName }} &nbsp; {{ result.totalTime }}
          </li>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="isModal" class="row border-line-top" style="margin:0px; margin-top:1em; padding-top:1em">
    <div class="col">
      <button mat-raised-button class="btn btn-danger btn-race">
        <i class="material-icons">add</i> DETALJAN PREGLED
      </button>
      <button mat-raised-button class="btn btn-success btn-race">
        <i class="material-icons">arrow_forward</i> DETALJAN PREGLED
      </button>
    </div>
  </div>

