
.datedropdown{
    display: inline-block;
    width: 100%;
}

.datedropdown .select {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
}    

.datedropdown .select select {
        font-family: 'Arial';
        display: inline-block;
        cursor: pointer;
        width: 100%;
        border: 1px solid;
        border-color:gray;
        border-radius: 3px;
        padding:0.3em;

        outline: 0;
        background: #ffffff;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

.datedropdown .select select::-ms-expand {
    display: none;
}

.datedropdown .select select:disabled {
    opacity: 0;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.datedropdown .select select:hover ~ .select_arrow,
.datedropdown .select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.datedropdown .select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
