<div class="datedropdown">
    <div class="select" style="width:40% !important">
      <select name="year" [(ngModel)]="selectedYear" (change)="onYearMonthChange()">
        <option *ngFor="let year of years" value={{year}}>
          {{year}}
        </option>
      </select>
      <div class="select_arrow">
      </div>
    </div>



    <div class="select" style="width:40% !important">
      <select name="month" [(ngModel)]="selectedMonth" (change)="onYearMonthChange()">
        <option *ngFor="let month of months" value={{month.Id}}>
          {{month.Value}}
        </option>
      </select>

      <div class="select_arrow">
      </div>
    </div>



    <div class="select" style="width:20% !important">
      <select name="day" [(ngModel)]="selectedDay" (change)="onDayChange()">
        <option *ngFor="let day of days" value={{day}}>
          {{day}}
        </option>
      </select>
      <div class="select_arrow">
      </div>
    </div>



  </div>