<div class="main-content" style="padding:0px !important;">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-9 hidden-xs login-container-logo">
<!-- 
        <img style="height:300px; width:210px" [src]="imgSrc" alt="" /> -->

      </div>
      <div class="col-md-3 login-container" style="height:100%;  min-height: 100vh;">
        <div class="row">
          <div class="col-md-12 login-logo">

          </div>
        </div>
        <div class="row">
          <div id="accordion" class="col-md-12 login-form" style="margin: 0px;" role="tablist">
            <div class="card-collapse" style="padding-bottom: 1em;">
              <div class="card-header login-form-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                    <p>
                      <b>Promjena lozinke</b>
                      <span class="btn-label btn-label-right">
                        <i class="material-icons">arrow_right_alt</i>
                      </span>
                      <!-- <i class="material-icons">keyboard_arrow_down</i> -->
                    </p>

                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">
                  <div class="col-md-12 login-form" style="margin-bottom:6em;">
                    <div class="card-body">
                      <form method="#" action="#" class="">

                        <div class="row span-text">
                          <span>Nova lozinka</span>
                        </div>
                        <div class="row">
                          <input type="password" name="password" [(ngModel)]="newPassword" placeholder="">
                        </div>
                        <div class="row span-text">
                          <span>Potvrda lozinke</span>
                        </div>
                        <div class="row">
                          <input type="password" name="password" [(ngModel)]="confirmPassword" placeholder="">
                        </div>
                  
                        <div class="row">
                          <div class="col-md-6" style="padding:0px; padding-top:1em;">
                            <button (click)="changePassword()" mat-raised-button class="btn login-button">
                             
                              <b>Promjeni</b>
                              <span class="btn-label btn-label-right">
                                <i class="material-icons">arrow_right_alt</i>
                              </span>
                            </button>
                          </div>
                        </div>
                      
                      </form>
                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>